:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

body {
    height: 100vh;
    background-color: var(--DarkSlateGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 6vh;
}

h1, p, label {
    color: var(--DarkSlateGrey);
}

label, button {
    font-weight: 700;
}

.card-container, .success-msg-container {
    background-color: var(--White);
    border-radius: 30px;
    margin: 50px 20px;
    display: flex;
    justify-content: space-between;
}

/* Card Container styling */
.card-container {
    padding: 1rem;
    flex-direction: row-reverse;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    width: 50%;
}

.email-container {
    margin: 25px 0;
}

.text-container h1 {
    margin: 1vh 0;
}

.text-container p {
    margin-bottom: 2vh;
}

/* List styling */
.list-container ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 0;
}

.list-container ul li i {
    color: var(--Tomato);
    font-size: 2.5vh;
}

.list-container ul {
    list-style-type: none;
}

/* Email styling */
.email-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* The space between "Email address" and the input field */
    height: 10.5vh;
}

input[type="email"], button {
    padding: 16px;
    border-radius: 8px;
    width: 100%;
}

input[type="email"] {
    border: solid 1px var(--Grey);
}

button {
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    border: none;
    transition: background 1.3s ease, color 0.5s ease; /* For smooth transition */
}

button:hover {
    background: linear-gradient(to right, #ff0080, var(--Tomato));
    cursor: pointer;
}
/* End Card Container styling */


/* Success Message styling */
.success-msg-container {
    padding: 7vh;
    width: 40%;
    height: 60%;
    flex-direction: column;
}

.success-msg-container i {
    color: var(--Tomato);
    font-size: 6.5vh;
}

.success-msg-container h1 {
    line-height: 1;
    margin: 4vh 0;
}

/* Error Message styling */
.error-container {
    display: flex;
    justify-content: space-between;
}

.error-msg {
    color: red;
    display: none;
}

.error-msg:not(.hidden) {
    display: block;
}

/* Hidden class */
.hidden {
    display: none;
}


/* Attribute styling */
.attribution {
    font-size: 12px;
    text-align: center;
    color: var(--White);
}

.attribution a {
    color: var(--White);
}

@media (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }

    .info-container {
        padding-right: 40px;
    }

    .card-container img {
        width: 50%;
    }

    .text-container {
        margin-bottom: 8vh;
    }

    .success-msg-container {
        width: 60%;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .card-container {
        padding: 0;
        margin: 0;
        flex-direction: column;
        font-size: 1rem;
    }

    .card-container img {
        width: 100%;
    }

    .info-container {
        width: 100%;
        padding: 2.2rem;
    }

    .list-container ul li  {
        align-items: baseline;
    }

    .list-container ul li i {
        color: var(--Tomato);
        font-size: 3vh;
    }

    .email-container {
        height: 12vh;
    }

    .attribution {
        padding: 12px;
    }

    .success-msg-container {
        border-radius: 0;
    }

    .success-msg-container, .text-container {
        margin: 0;
        padding: 4vh 2vh;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
}