:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

body {
    height: 100vh;
    background-color: var(--DarkSlateGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 6vh;
}

h1, p, label {
    color: var(--DarkSlateGrey);
}

label, button {
    font-weight: 700;
}

.card-container, .success-msg-container {
    background-color: var(--White);
    border-radius: 30px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

/* Card Container styling */
.card-container {
    padding: 3vh;
    flex-direction: row-reverse;
}

.card-container img {
    width: 45%;
}

.info-container {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    width: 50%;
}

.text-container, .email-container {
    margin: 25px 0;
}

/* List styling */
.list-container ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 0;
}

.list-container ul li i {
    color: var(--Tomato);
    font-size: 2.5vh;
}

.list-container ul {
    list-style-type: none;
}

/* Email styling */
.email-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* The space between "Email address" and the input field */
    height: 10vh;
}

input[type="email"], button {
    padding: 16px;
    border-radius: 8px;
    width: 100%;
}

input[type="email"] {
    border: solid 1px var(--Grey);
}

button {
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    border: none;
    transition-duration: 0.25s;
}

button:hover {
    background-color: var(--Tomato);
    cursor: pointer;
}
/* End Card Container styling */


/* Success Message styling */
.success-msg-container {
    padding: 7vh;
    width: 33%;
    height: 60%;
    flex-direction: column;
}

.success-msg-container i {
    color: var(--Tomato);
    font-size: 6.5vh;
}

.success-msg-container h1 {
    line-height: 1;
}

/* Error Message styling */
.error-container {
    display: flex;
    justify-content: space-between;
}

.error-msg {
    color: red;
    display: none;
}

.error-msg:not(.hidden) {
    display: block;
}

/* Hidden class */
.hidden {
    display: none;
}


/* Attribute styling */
.attribution {
    font-size: 12px;
    text-align: center;
    color: var(--White);
}

.attribution a {
    color: var(--White);
}